{
  "printWidth": 80,
  "trailingComma": "all",
  "tapWidth": 2,
  "printWidth": 200,
  "semi": true,
  "rangeStart": 0,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "editor.formatOnSave": true
}
